title
{
	font-family:arial; 
	font-size:50%; 
	font-style:normal; 
	color:grey;
}
body 
{
color:black;
background-color:white;
background-image:url(fond-ecran-cinema_72104-178.jpg);
background-size:cover;
background-attachment:fixed;
margin:0;
}
h1
{
	font-family:arial;
	font-size:300%;
	font-style:normal;
	font-weight:bolder;
	color:white;
	text-align:center;
}
ul
{
	font-family:arial;
	font-size:100%;
	font-style:normal;
	color:dark;
}
li
{
	font-family:arial;
	font-size:100%;
	font-style:normal;
	color:grey;
	margin-left:16%
}
a
{
	font-family:arial;
	font-size:135%;
	font-style:normal;
	color:purple;
	margin-left:17%;
}
b
{
	font-family:arial;
	font-size:100%;
	font-style:normal;
	color:dark;
	margin-left:5ex
}
h2
{
	font-family:arial;
	font-size:200%;
	font-style:normal;
	color:blue;
	margin-left:auto;
	text-decoration: underline;
	text-align:center;
}
img 
{
	max-width: 20%;
	height:auto;
	margin-left:auto;
	text-align:center
}
ins
{
	margin-left: auto;
	margin-right: auto;
}




p{font-family:arial; font-size:170%; font-style:justify; color:black; margin-left: 16%; margin-right: auto}
p.blocktext {margin-left: auto; margin-right: auto; width: 50em}
img.displayed {display: block; margin-left: auto; margin-right: auto}